ol {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}

.product-list {
  display: flex;
  justify-content: center;
  padding: 15px 10%;
  height: 100vh;
  background-color: #ededed;
}