.btn-compra {
  border-color: transparent;
  background-color: #3483fa;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  color:#fff;
  width: 100%;
  transition: box-shadow 0.6s linear;
  margin-top: 5px;
}

.btn-compra:hover {
  background-color: #2968c8;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px 1px #FFF, 0px 0px 8px 5px #2968c8; 
  box-shadow: 0px 0px 2px 1px #FFF, 0px 0px 8px 5px #2968c8;
}

.btn-compra-d-none { display:none; }